.form-control {
  color: white !important; 
  border: 1px solid rgba(255, 255, 255, 0.5); 
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}

.form-control:focus,.form-check-input:focus {
  color: white; 
  background-color: transparent; 
  border-color: white; 
  box-shadow: none; 
}
