.breadcrumb-container {
  background-color: #f8fbff; 
  padding: 12px 20px;
}

.breadcrumb-item {
  font-size: 14px;
}

.breadcrumb-home {
  color: black !important;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumb-home:hover {
  text-decoration: none; 
}

.breadcrumb-link {
  color: #6c757d;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-active {
  color: #6c757d !important;
  font-weight: 500;
}
